#mainPagesNav {
    display: flex;
    align-items: center;
    gap: 75px;
    border-bottom: 1px solid #B0B0B0;
    padding: 15px 50px;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navItemsCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

#linksCon {
    display: flex;
    gap: 50px;
}

#linksCon>a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: "Metrophobic";
    display: flex;
    gap: 5px;
}

.markerIconNav {
    width: 18px;
}

#navProfileCon {
    width: 150px;
    height: 50px;
    background-color: #F1F1F1;
    padding: 10px 10px;
    position: relative;
    border-radius: 7px;
}

#navProfileCon:hover {
    cursor: pointer;
}

#navUserCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usernameNav {
    margin: 0;
}

.userIconNav {
    width: 30px;
}

#dropDownNav {
    background-color: #F1F1F1;
    position: absolute;
    margin: 0;
    padding: 5px 0;
    list-style-type: none;
    width: 150px;
    margin-left: -10px;
    border-radius: 7px;
}

#dropDownNav:hover {
    cursor: initial;
}

#dropDownNav li {
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

#dropDownNav li a {
    text-decoration: none;
    color: black;
}

#dropDownNav li p {
    margin: 0;
    font-size: 16px;
}

#dropDownNav li img {
    width: 19px;
}

#dropDownNav li #navLogout {
    color: #FF2424;
}

#dropDownNav li p:hover,
#dropDownNav li img:hover {
    cursor: pointer;
}

#settingsPopupCon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

#settingsPopupForm {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 480px;
    gap: 60px;
    position: fixed;
    color: #FFFFFF;
    border-radius: 10px;
}

#popupExitIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#settingsPopupHeader {
    margin: 0;
    font-size: 30px;
}

#settingsPopupInputCon>div {
    grid-template-columns: 120px auto;
}

#settingsPopupBtn {
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    width: 120px;
}