#mainPagesNav {
    display: flex;
    align-items: center;
    gap: 75px;
    border-bottom: 1px solid #B0B0B0;
    padding: 15px 50px;
    justify-content: space-between;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navItemsCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

#linksCon {
    display: flex;
    gap: 50px;
}

#linksCon>a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: "Metrophobic";
    display: flex;
    gap: 5px;
}

.markerIconNav {
    width: 18px;
}

#navProfileCon {
    width: 150px;
    height: 50px;
    background-color: #F1F1F1;

    padding: 10px 10px;
    position: relative;
    border-radius: 7px;

}

#navProfileCon:hover {
    cursor: pointer;
}

#navUserCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usernameNav {
    margin: 0;
}

.userIconNav {
    width: 30px;
}

#dropDownNav {
    background-color: #F1F1F1;
    position: absolute;
    margin: 0;
    /* margin-bottom: 5px; */
    padding: 5px 0;
    list-style-type: none;
    width: 150px;
    margin-left: -10px;
    border-radius: 7px;
}

#dropDownNav:hover {
    cursor: initial;
}

#dropDownNav li {
    padding: 10px;
}

#dropDownNav li a {
    text-decoration: none;
    color: black;
}

#dropDownNav li p {
    margin: 0;
    color: #FF2424;
}

#dropDownNav li p:hover {
    cursor: pointer;
}