header {
    background: url("../../images/europemap.jpg");
    background-size: cover;
    height: 811px;
    display: grid;
}

#myVoyages {
    position: absolute;
    top: 200px;
    right: 80px;
}

#logoBox {
    display: block ruby;
}

#sText {
    font-family: Metal;
    color: white;
    font-size: 60px;
}

#myTextBox {
    display: flex;
    justify-content: center;
}

#myText {
    position: absolute;
    bottom: 100px;

    font-family: Metal;
    margin: 0;
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}

#trainCon {
align-self: end;
width: 100%;
height: 30px;
display: flex;
justify-content: end;
position: relative;
bottom: 75px;

}

#img_train {
    height: 100%;
    width: 20%;
}

#loadingBar {
    background: linear-gradient(to right, #336633, rgb(125, 186, 144));
    height: 100%;
}

#countriesAmount {
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: white;
    margin-right: 15px;
    }