.beenFavCon {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.icon {
    height: 50px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox>h1 {
    font-size: 70px;
    font-family: Metal;
    margin: 0;
}

.listBox {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    justify-self: center;
    overflow-y: scroll;
}

.listBox h1 {
    margin: 20px;
}

.listBox li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

.listCon {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    gap: 30px;
}

#unbeenButton {
    width: fit-content;
    color: #83ADF6;
    text-decoration: underline;
    margin-right: 50px;
    margin-top: 20px;
    justify-self: flex-end;

    cursor: pointer;
}

.beenFavCon#beenList .listBox:nth-of-type(1) {
    background-color: #83ADF6;
    border-bottom: 15px solid #83ADF6;
}

.beenFavCon#beenList .listBox:nth-of-type(2) {
    background-color: #B1CEFF;
    border-bottom: 15px solid #B1CEFF;
}

.beenFavCon#beenList .listBox:nth-of-type(3) {
    background-color: #D1E2FF;
    border-bottom: 15px solid #D1E2FF;
}

.beenFavCon#wishlistList .listBox:nth-of-type(1) {
    background-color: #FFBC85;
    border-bottom: 15px solid #FFBC85;
}

.beenFavCon#wishlistList .listBox:nth-of-type(2) {
    background-color: #FFD1AB;
    border-bottom: 15px solid #FFD1AB;
}

.beenFavCon#wishlistList .listBox:nth-of-type(3) {
    background-color: #FDDEC5;
    border-bottom: 15px solid #FDDEC5;
}

.trashcan,
.heartIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0 20px;
}

.trashcanHide {
    display: none;
}