#wrapper {
    width: 100%;
    height: 1000px;
}

#countriesCon {
    min-height: 500px;
    width: 75%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    overflow: auto;
    padding-left: 150px;
}

.filteredCountries {
    gap: 12% 1%;
}

.allCountries {
    gap: 100px 10px;
}

#countriesCon > div {
    height: 300px;
    width: 300px;
}